Pillow
humanize
hachoir
pyrogram==1.4.16
pymongo
dnspython
aiohttp
beautifulsoup4
git+git://github.com/google/chatbase-python.git
numpy
https://github.com/Mahesh0253/pyrogram/archive/asyncio.zip
requests
tgcrypto
